
        body {
            background-color:#04221f
        }

        h1 {    
            display: inline-block;
            width: 1260px;
            text-align: center;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            color:#03A63C;

        }

        form {

            margin: 0 auto;
            width: 350px;
            padding: 1em;
            border: 0.3px solid #ccc;
            border-radius: 3em;
            text-align: center;
            background-color: #03A63C;
            font-size: medium;
            font-family: 'Times New Roman', Times, serif;
            color:black;
        }

        ul {

            list-style: none;
            padding:0;
            margin: 0;
            
        }

        form li+li {

            margin-top: 0.12em;


        }

        label {
            width: 150px;
            text-align: right;

        }

        input, textarea {

            width: 100px;
            font: 1em;
            box-sizing: border-box;
            border-color: #025951;

    
        }

        input[type=submit]{
            border:none;
            border-radius: 25px;
            padding: 30px,30px;
            outline:none;
            background-color:#1d461f;
            color:#ffffff;
            font-size: 15px;
            box-shadow: 0px 4px #0a0a0a;
        }
        input[type=submit]:hover{
            background-color: #211a25;
            cursor:pointer;
        }
        input[type=submit]:active{
            background-color:#211a25;
            box-shadow:0px 2px #252525;
            transform: translateY(4px);
        }

        input:focus, textarea:focus {
            border-color: black;

        }
        
        footer,
        a {

            text-align: center;
            color: bisque;

        }


        textarea {
            
            width: 73px;
            vertical-align: top;
            height: 4em;
            resize: vertical;
            border-color: black;
            border-width: 2px;
            margin-bottom: 2em;
         
        }

        submit {
            margin-top: 2em;

            
        }
        

